.game-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%
}
.game-form-container p{
    color: white
}
.game-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-form input {
    margin-top: 10px;
    height: 25px;
    text-align: center;
    padding: 5px;

}

.submit{
    height: 25px;
    background-color: orange;
    width: 50%;
    margin-top: 10px;
}